{% block content %}
    <div class="position-container">
        <div class="random-position">
            <img src="/gallery/sexpositionsclub_kepek/{{ position }}.png">
            <br>
            {{ position }}
        </div>
        <button id="get_another_position">Másikat</button>
    </div>

{% endblock %}